# Centralização de Bases

In [1]:
import pandas as pd
import unidecode
import numpy as np

In [2]:
df_main = pd.read_csv('INFLUD-05-04-2021.csv', sep=';')
df_main.head(2)

/home/ligia/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (15,18,60,62,63,64,92,94,106,108,115,117,118,119,123) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DT_NOTIFIC,SEM_NOT,DT_SIN_PRI,SEM_PRI,SG_UF_NOT,ID_REGIONA,CO_REGIONA,ID_MUNICIP,CO_MUN_NOT,ID_UNIDADE,...,DS_AN_OUT,TP_AM_SOR,SOR_OUT,DT_CO_SOR,TP_SOR,OUT_SOR,DT_RES,RES_IGG,RES_IGM,RES_IGA
0,14/01/2020,3,07/01/2020,2,SP,GVE I CAPITAL,1331.0,SAO PAULO,355030,HOSPITAL SAO LUIZ GONZAGA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28/01/2020,5,27/01/2020,5,SP,GVE I CAPITAL,1331.0,SAO PAULO,355030,HOSPITAL SAO CAMILO SANTANA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_main.shape

(1189743, 154)

In [4]:
df_demais = pd.read_csv('merged_datasets_datasus_ibgenoticias_v5.csv', sep=',')
df_demais.head(2)

,ID_MN_RESI,SG_UF,DT_NOTIFIC,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,saidaSuspeitaObitos,saidaSuspeitaAltas,saidaConfirmadaObitos,...,Respiradores do SUS a cada 100 mil habitantes,Total de Respiradores do SUS,Total de Leitos de UTI,Leitos de UTI a cada 100 mil habitantes,Leitos de UTI do SUS,Leitos do SUS a cada 100 mil habitantes,Trabalhadores informais na unidade da Federação (julho 2019),Trabalhadores informais nas Regiões Metropolitas (julho 2019),Trabalhadores informais Capital (julho 2019),Trabalhadores informais no Interior (julho 2019)
0,ITAPEMA,SC,14/04/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.000000,0.0,0.000000,246144.9512,46269.2774,27553.9531,199875.6738
1,RIO DE JANEIRO,RJ,15/04/2020,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,32.52019,2185.0,2587.0,38.503309,516.0,7.679825,400968.4169,283551.4756,178536.6888,117416.9413

In [5]:
df_demais.shape

(819947, 32)

In [6]:
df_demais = df_demais.rename(columns={'ID_MN_RESI':'ID_MUNICIP'})
df_demais = df_demais.rename(columns={'SG_UF': 'SG_UF_NOT'})
df_demais.head(2)

,ID_MUNICIP,SG_UF_NOT,DT_NOTIFIC,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,saidaSuspeitaObitos,saidaSuspeitaAltas,saidaConfirmadaObitos,...,Respiradores do SUS a cada 100 mil habitantes,Total de Respiradores do SUS,Total de Leitos de UTI,Leitos de UTI a cada 100 mil habitantes,Leitos de UTI do SUS,Leitos do SUS a cada 100 mil habitantes,Trabalhadores informais na unidade da Federação (julho 2019),Trabalhadores informais nas Regiões Metropolitas (julho 2019),Trabalhadores informais Capital (julho 2019),Trabalhadores informais no Interior (julho 2019)
0,ITAPEMA,SC,14/04/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.000000,0.0,0.000000,246144.9512,46269.2774,27553.9531,199875.6738
1,RIO DE JANEIRO,RJ,15/04/2020,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,32.52019,2185.0,2587.0,38.503309,516.0,7.679825,400968.4169,283551.4756,178536.6888,117416.9413

In [7]:
df_demais['concat'] = df_demais['ID_MUNICIP'] + df_demais['SG_UF_NOT'] + df_demais['DT_NOTIFIC']
df_demais.head(2)

,ID_MUNICIP,SG_UF_NOT,DT_NOTIFIC,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,saidaSuspeitaObitos,saidaSuspeitaAltas,saidaConfirmadaObitos,...,Total de Respiradores do SUS,Total de Leitos de UTI,Leitos de UTI a cada 100 mil habitantes,Leitos de UTI do SUS,Leitos do SUS a cada 100 mil habitantes,Trabalhadores informais na unidade da Federação (julho 2019),Trabalhadores informais nas Regiões Metropolitas (julho 2019),Trabalhadores informais Capital (julho 2019),Trabalhadores informais no Interior (julho 2019),concat
0,ITAPEMA,SC,14/04/2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,246144.9512,46269.2774,27553.9531,199875.6738,ITAPEMASC14/04/2020
1,RIO DE JANEIRO,RJ,15/04/2020,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,2185.0,2587.0,38.503309,516.0,7.679825,400968.4169,283551.4756,178536.6888,117416.9413,RIO DE JANEIRORJ15/04/2020

In [8]:
df_main['concat'] = df_main['ID_MUNICIP'] + df_main['SG_UF_NOT'] + df_main['DT_NOTIFIC']
df_main.head(2)

,DT_NOTIFIC,SEM_NOT,DT_SIN_PRI,SEM_PRI,SG_UF_NOT,ID_REGIONA,CO_REGIONA,ID_MUNICIP,CO_MUN_NOT,ID_UNIDADE,...,TP_AM_SOR,SOR_OUT,DT_CO_SOR,TP_SOR,OUT_SOR,DT_RES,RES_IGG,RES_IGM,RES_IGA,concat
0,14/01/2020,3,07/01/2020,2,SP,GVE I CAPITAL,1331.0,SAO PAULO,355030,HOSPITAL SAO LUIZ GONZAGA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAO PAULOSP14/01/2020
1,28/01/2020,5,27/01/2020,5,SP,GVE I CAPITAL,1331.0,SAO PAULO,355030,HOSPITAL SAO CAMILO SANTANA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAO PAULOSP28/01/2020

In [9]:
df_demais= df_demais.drop_duplicates()

In [10]:
df_demais.shape

(794687, 33)

In [11]:
df = df_demais.drop_duplicates(subset='concat', keep='first')

In [12]:
df.shape

(500826, 33)

In [13]:
df_principal = df_main.merge(df, on = ['concat'], how='left')

In [14]:
df_principal.shape

(1189743, 187)

Bases do PIB

In [15]:
df_pib = pd.read_excel('ibge_PIB_tabela_tratada.xlsx', sheet_name = 'Maiores PIB')
df_pib_per_capta = pd.read_excel('ibge_PIB_tabela_tratada.xlsx', sheet_name = 'Maiores PIB Per capta')

In [16]:
# Função para remover a acentuação
def remove_accentuation(df):
    return df.apply(lambda item: unidecode.unidecode(item))

# Função para deixar os termos em letra maiúscula 
def to_uppercase(df):
    return df.apply(lambda item: item.strip().upper())

In [17]:
df_pib['ID_MUNICIP'] = remove_accentuation(df_pib['Municípios '])
df_pib['ID_MUNICIP'] = to_uppercase(df_pib['ID_MUNICIP'])
#df_pib

In [18]:
#df_pib.keys()

In [19]:
df_pib_per_capta['ID_MUNICIP'] = remove_accentuation(df_pib_per_capta['Municípios'])
df_pib_per_capta['ID_MUNICIP'] = to_uppercase(df_pib_per_capta['ID_MUNICIP'])
#df_pib_per_capta

In [20]:
df_principal['ID_MUNICIP'] = df_principal['ID_MUNICIP_x']

In [21]:
df_principal_01 = df_principal.merge(df_pib, on = ['ID_MUNICIP'], how='left')

In [22]:
df_principal_v1 = df_principal_01.merge(df_pib_per_capta, on = ['ID_MUNICIP'], how='left')

In [23]:
df_principal_v1.shape

(1189743, 194)

# Eliminando variáveis com redundancia

In [24]:
df = pd.DataFrame(df_principal_v1, columns=['DT_NOTIFIC_x','SG_UF_NOT_x','ID_MUNICIP_x','CS_SEXO','DT_NASC','NU_IDADE_N','CS_GESTANT','CS_RACA','CS_ETINIA','CS_ESCOL_N','SG_UF','CO_MUN_RES','CS_ZONA','SURTO_SG','NOSOCOMIAL','AVE_SUINO','FEBRE','TOSSE','GARGANTA','DISPNEIA','DESC_RESP','SATURACAO','DIARREIA','VOMITO','OUTRO_SIN','OUTRO_DES','PUERPERA','FATOR_RISC','CARDIOPATI','HEMATOLOGI','SIND_DOWN','HEPATICA','ASMA','DIABETES','NEUROLOGIC','PNEUMOPATI','IMUNODEPRE','RENAL','OBESIDADE','OBES_IMC','OUT_MORBI','MORB_DESC','VACINA','DT_UT_DOSE','MAE_VAC','M_AMAMENTA','DT_DOSEUNI','DT_1_DOSE','DT_2_DOSE','ANTIVIRAL','TP_ANTIVIR','OUT_ANTIV','DT_ANTIVIR','HOSPITAL','UTI','SUPORT_VEN','RAIOX_RES','RAIOX_OUT','AMOSTRA','TP_AMOSTRA','DT_NOTIFIC_x','SG_UF_NOT_x','ID_MUNICIP_x''OUT_AMOST','PCR_RESUL','POS_PCRFLU','TP_FLU_PCR','PCR_FLUASU','FLUASU_OUT','PCR_FLUBLI','FLUBLI_OUT','POS_PCROUT','PCR_VSR','PCR_PARA1','PCR_PARA2','PCR_PARA3','PCR_PARA4','PCR_ADENO','PCR_METAP','PCR_BOCA','PCR_RINO','PCR_OUTRO','DS_PCR_OUT','CLASSI_FIN','CLASSI_OUT','CRITERIO','EVOLUCAO','HISTO_VGM','PAIS_VGM','CO_PS_VGM','LO_PS_VGM','PCR_SARS2','PAC_COCBO','PAC_DSCBO','OUT_ANIM','DOR_ABD','FADIGA','PERD_OLFT','PERD_PALA','TOMO_RES','TOMO_OUT','DT_TOMO','TP_TES_AN','RES_AN','POS_AN_FLU','TP_FLU_AN','POS_AN_OUT','AN_SARS2','AN_VSR','AN_PARA1','AN_PARA2','AN_PARA3','AN_ADENO','AN_OUTRO','DS_AN_OUT','TP_AM_SOR','SOR_OUT','DT_CO_SOR','TP_SOR','OUT_SOR','RES_IGG','RES_IGM','RES_IGA','concat','ocupacaoSuspeitoCli','ocupacaoSuspeitoUti','ocupacaoConfirmadoCli','ocupacaoConfirmadoUti','saidaSuspeitaObitos','saidaSuspeitaAltas','saidaConfirmadaObitos','saidaConfirmadaAltas','População Estimada (2019)','Total de Enfermeiros','Enfermeiros do SUS','Enfermeiros a cada 100 mil habitantes','Enfermeiros do SUS a cada 100 mil habitantes','Total de médicos','Médicos do SUS','Médicos a cada 100 mil habitantes','Médicos do SUS a cada 100 mil habitantes','Total de Respiradores','Respiradores a cada 100 mil habitantes','Respiradores do SUS a cada 100 mil habitantes','Total de Respiradores do SUS','Total de Leitos de UTI','Leitos de UTI a cada 100 mil habitantes','Leitos de UTI do SUS','Leitos do SUS a cada 100 mil habitantes','Trabalhadores informais na unidade da Federação (julho 2019)','Trabalhadores informais nas Regiões Metropolitas (julho 2019)','Trabalhadores informais Capital (julho 2019)','Trabalhadores informais no Interior (julho 2019)','ID_MUNICIP','Municípios ','Posição ocu- pada pelos 100 maiores municípios PIB','Flag_100_maiores_municipios_PIB','Municípios','Posição ocupada pelos 100 maiores municípios, o per capita','Flag_100_maiores_municipios_PIB_per_capta'])

In [25]:
df.shape

(1189743, 159)

In [26]:
df.head(10).to_csv("df_final.csv", index=False)

In [27]:
df_main.head(10).to_csv("df_final2.csv", index=False)

# Variável Resposta

In [29]:
df.groupby(by='EVOLUCAO').size()

EVOLUCAO
1.0    696675
2.0    300504
3.0     13939
9.0     31028
dtype: int64

EVOLUÇÃO:
    1-Cura
    2-Obito
    3-Obito por outra causa
    4-Ignorado

In [30]:
df['resposta'] = np.where(df['EVOLUCAO']== 2.0,1,0)

In [31]:
df.head(10)

,DT_NOTIFIC_x,SG_UF_NOT_x,ID_MUNICIP_x,CS_SEXO,DT_NASC,NU_IDADE_N,CS_GESTANT,CS_RACA,CS_ETINIA,CS_ESCOL_N,...,Trabalhadores informais Capital (julho 2019),Trabalhadores informais no Interior (julho 2019),ID_MUNICIP,Municípios,Posição ocu- pada pelos 100 maiores municípios PIB,Flag_100_maiores_municipios_PIB,Municípios,"Posição ocupada pelos 100 maiores municípios, o per capita",Flag_100_maiores_municipios_PIB_per_capta,resposta
0,14/01/2020,SP,SAO PAULO,F,27/04/2019,9,6,4.0,NaN,5.0,...,NaN,NaN,SAO PAULO,São Paulo,NaN,1.0,NaN,NaN,NaN,0
1,28/01/2020,SP,SAO PAULO,M,09/03/2019,10,6,9.0,NaN,5.0,...,NaN,NaN,SAO PAULO,São Paulo,NaN,1.0,NaN,NaN,NaN,0
2,17/02/2020,RS,BENTO GONCALVES,M,25/07/2019,7,6,1.0,NaN,5.0,...,NaN,NaN,BENTO GONCALVES,NaN,NaN,NaN,NaN,NaN,NaN,0
3,27/01/2020,MG,BELO HORIZONTE,M,04/07/1940,79,6,4.0,NaN,9.0,...,NaN,NaN,BELO HORIZONTE,Belo Horizonte,NaN,1.0,NaN,NaN,NaN,0
4,10/03/2020,RS,PORTO ALEGRE,M,19/01/1983,37,6,2.0,NaN,2.0,...,NaN,NaN,PORTO ALEGRE,Porto Alegre,NaN,1.0,NaN,NaN,NaN,0
5,03/03/2020,GO,JATAI,M,30/10/1999,20,6,4.0,NaN,3.0,...,NaN,NaN,JATAI,NaN,NaN,NaN,NaN,NaN,NaN,0
6,23/03/2020,SP,SAO PAULO,F,17/09/1997,22,5,1.0,NaN,3.0,...,NaN,NaN,SAO PAULO,São Paulo,NaN,1.0,NaN,NaN,NaN,0
7,24/03/2020,SP,SAO SEBASTIAO,M,05/01/1944,76,6,4.0,NaN,NaN,...,NaN,NaN,SAO SEBASTIAO,NaN,NaN,NaN,NaN,NaN,NaN,0
8,14/03/2020,SP,SAO PAULO,M,14/05/1980,39,6,NaN,NaN,NaN,...,NaN,NaN,SAO PAULO,São Paulo,NaN,1.0,NaN,NaN,NaN,0
9,23/03/2020,SP,SAO PAULO,F,08/05/1997,22,9,1.0,NaN,4.0,...,NaN,NaN,SAO PAULO,São Paulo,NaN,1.0,NaN,NaN,NaN,0

In [32]:
df.groupby(by=['EVOLUCAO','resposta']).size()

EVOLUCAO  resposta
1.0       0           696675
2.0       1           300504
3.0       0            13939
9.0       0            31028
dtype: int64

In [33]:
df.head(10).to_csv("df.csv", index=False)

# CORRELAÇÕES

In [ ]:
correlacao = df[df.columns[:]].corr()['resposta']

In [ ]:
correlacao.to_csv("correlacao.csv")

# Analises Bivariadas: Variavel X Resposta

Quando a variavel é categorica, faremos tabelas cruzadas de contagem por categoria X resposta letalidade. Para variáveis continuas, exploraremos outras metricas de tendencia central

In [34]:
idade = df.groupby(by=['NU_IDADE_N','resposta']).size()

In [73]:
idade.to_csv("idade.csv")

Explorando caracteristicas da variavel continua

In [35]:
MEDIANA = df['NU_IDADE_N'].median()
        
print('MEDIA =', df['NU_IDADE_N'].mean())
print('MEDIANA =',MEDIANA)
print('MODA =',df['NU_IDADE_N'].mode()[0])
print('DESVIO_PADRAO =',df['NU_IDADE_N'].std())
print('')
        
Q1 = df['NU_IDADE_N'].quantile(0.25)
Q2 = df['NU_IDADE_N'].quantile(0.50)
Q3 = df['NU_IDADE_N'].quantile(0.75)
Q4 = df['NU_IDADE_N'].max()
        
print('Q1 =', Q1)
print('Q2 =', Q2)
print('Q3 =', Q3)
print('Q4 =', Q4)
print('')
        
LS = Q3+(1.5*(Q3-Q1))
LI = Q1-(1.5*(Q3-Q1))
#
print('Limite Superior =',LS)
print('Limite Inferior =',LI)
print('')
print('Correlacao =',df['NU_IDADE_N'].corr(df['resposta']))
        
print('Quantidade de outliers', df[df['NU_IDADE_N'] > LS]['NU_IDADE_N'].count())
        
df.loc[df['NU_IDADE_N'] > LS, 'NU_IDADE_N'] = -1
df['NU_IDADE_N'].replace(-1,LS,inplace=True)
        
print("Quantidade valores faltantes",df.isnull().sum()['NU_IDADE_N'])

MEDIA = 56.744226274077675
MEDIANA = 60.0
MODA = 66
DESVIO_PADRAO = 22.49598017517659

Q1 = 43.0
Q2 = 60.0
Q3 = 74.0
Q4 = 148

Limite Superior = 120.5
Limite Inferior = -3.5

Correlacao = 0.3082483341157743
Quantidade de outliers 10
Quantidade valores faltantes 0

Boxplot

In [37]:
import matplotlib.pyplot as plt

idade = df['NU_IDADE_N']
idade_descri = idade.describe()

with open('idade_descri.txt', 'w') as f:
    idade_descri.to_string(f)

q1 = idade_descri['25%']
mediana = idade_descri['50%']
q2 = idade_descri['75%']

s_q1 = "{0:.2f}".format(q1)
s_mediana = "{0:.2f}".format(mediana)
s_q2 = "{0:.2f}".format(q2)

font_1 = {'family': 'serif', 'color': 'darkred', 'size':'14'}

plt.figure(figsize=(6, 7))
plt.boxplot(idade)
plt.title('Boxplot Idade')
plt.ylabel('Idade')
plt.text(1, q1, s_q1, fontdict=font_1)
plt.text(1, mediana, s_mediana, fontdict=font_1)
plt.text(1, q2, s_q2, fontdict=font_1)
plt.savefig('idade-boxplot.png')
plt.close()

In [75]:
df.groupby(by=['SUPORT_VEN','resposta']).size()

SUPORT_VEN  resposta
1.0         0            59633
            1           113970
2.0         0           395676
            1            98323
3.0         0           277546
            1            32296
9.0         0            35223
            1            14045
dtype: int64

In [76]:
df.groupby(by=['CLASSI_FIN','resposta']).size()

CLASSI_FIN  resposta
1.0         0             2320
            1              314
2.0         0             4322
            1              312
3.0         0             2459
            1              699
4.0         0           336782
            1            79083
5.0         0           469735
            1           218503
dtype: int64

In [77]:
df.groupby(by=['UTI','resposta']).size()

UTI  resposta
1.0  0           191685
     1           150138
2.0  0           553126
     1            97159
9.0  0            19390
     1             7387
dtype: int64

In [78]:
df.groupby(by=['PCR_RESUL','resposta']).size()

PCR_RESUL  resposta
1.0        0           364374
           1           167315
2.0        0           317949
           1            77284
3.0        0             4207
           1             1428
4.0        0            37512
           1            14863
5.0        0            92106
           1            16568
9.0        0             1526
           1             1085
dtype: int64

In [79]:
df.groupby(by=['VACINA','resposta']).size()

VACINA  resposta
1.0     0           125378
        1            33448
2.0     0           256351
        1            70640
9.0     0           321316
        1           130505
dtype: int64

In [80]:
df.groupby(by=['GARGANTA','resposta']).size()

GARGANTA  resposta
1.0       0           159993
          1            38797
2.0       0           498084
          1           167152
9.0       0            19260
          1            11668
dtype: int64

In [81]:
df.groupby(by=['TOSSE','resposta']).size()

TOSSE  resposta
1.0    0           611174
       1           182055
2.0    0           179722
       1            69308
9.0    0             8282
       1             6750
dtype: int64

In [82]:
df.groupby(by=['TP_FLU_AN','resposta']).size()

TP_FLU_AN  resposta
1.0        0           169
           1            29
2.0        0           145
           1            16
dtype: int64

In [92]:
trab=df.groupby(by=['Trabalhadores informais no Interior (julho 2019)','resposta']).size()
trab.to_csv("trab.csv")

In [84]:
df.groupby(by=['DIARREIA','resposta']).size()

DIARREIA  resposta
1.0       0           116317
          1            30182
2.0       0           532550
          1           173987
9.0       0            18001
          1            11139
dtype: int64

In [85]:
df.groupby(by=['PERD_PALA','resposta']).size()

PERD_PALA  resposta
1.0        0            47562
           1             9710
2.0        0           337603
           1           101519
9.0        0            18555
           1             9150
dtype: int64

In [86]:
df.groupby(by=['VOMITO','resposta']).size()

VOMITO  resposta
1.0     0            83092
        1            21662
2.0     0           555826
        1           180066
9.0     0            18864
        1            11399
dtype: int64

In [87]:
df.groupby(by=['PERD_OLFT','resposta']).size()

PERD_OLFT  resposta
1.0        0            46858
           1             9731
2.0        0           339365
           1           101758
9.0        0            18392
           1             9064
dtype: int64

In [93]:
CO_MUN_RES=df.groupby(by=['CO_MUN_RES','resposta']).size()
CO_MUN_RES.to_csv("CO_MUN_RES.csv")

In [94]:
trab_fed=df.groupby(by=['Trabalhadores informais na unidade da Federação (julho 2019)','resposta']).size()
trab_fed.to_csv("trab_fed.csv")

In [90]:
df.groupby(by=['FEBRE','resposta']).size()

FEBRE  resposta
1.0    0           516618
       1           158127
2.0    0           252339
       1            87963
9.0    0            10154
       1             7390
dtype: int64

In [91]:
df.groupby(by=['OUTRO_SIN','resposta']).size()

OUTRO_SIN  resposta
1.0        0           297599
           1            80377
2.0        0           346908
           1           120707
9.0        0            22851
           1            11646
dtype: int64

In [38]:
df.groupby(by=['CARDIOPATI','resposta']).size()

CARDIOPATI  resposta
1.0         0           253419
            1           124677
2.0         0           169405
            1            60380
9.0         0             5086
            1             2572
dtype: int64

In [39]:
df.groupby(by=['Flag_100_maiores_municipios_PIB','resposta']).size()

Flag_100_maiores_municipios_PIB  resposta
1.0                              0           572302
                                 1           196480
dtype: int64

In [40]:
df.groupby(by=['Flag_100_maiores_municipios_PIB_per_capta','resposta']).size()

Flag_100_maiores_municipios_PIB_per_capta  resposta
1.0                                        0           39955
                                           1           11864
dtype: int64

In [41]:
df.groupby(by=['OBESIDADE','resposta']).size()

OBESIDADE  resposta
1.0        0            40228
           1            16692
2.0        0           294582
           1           122170
9.0        0            12362
           1             6939
dtype: int64

In [42]:
df.groupby(by=['DIABETES','resposta']).size()

DIABETES  resposta
1.0       0           175487
          1            90667
2.0       0           217934
          1            81698
9.0       0             6135
          1             3166
dtype: int64

In [43]:
df.groupby(by=['HEMATOLOGI','resposta']).size()

HEMATOLOGI  resposta
1.0         0             7273
            1             3458
2.0         0           322997
            1           134351
9.0         0             9187
            1             5080
dtype: int64

In [44]:
df.groupby(by=['SIND_DOWN','resposta']).size()

SIND_DOWN  resposta
1.0        0             2654
           1             1005
2.0        0           327150
           1           136630
9.0        0             8346
           1             4481
dtype: int64

In [45]:
df.groupby(by=['HEPATICA','resposta']).size()

HEPATICA  resposta
1.0       0             7116
          1             4811
2.0       0           322100
          1           133017
9.0       0             9114
          1             5010
dtype: int64

In [46]:
df.groupby(by=['OUT_MORBI','resposta']).size()

OUT_MORBI  resposta
1.0        0           214184
           1           102269
2.0        0           173271
           1            66651
9.0        0             6649
           1             3185
dtype: int64

In [47]:
df.groupby(by=['IMUNODEPRE','resposta']).size()

IMUNODEPRE  resposta
1.0         0            24772
            1            13114
2.0         0           309163
            1           126809
9.0         0             8890
            1             4888
dtype: int64

In [48]:
df.groupby(by=['PNEUMOPATI','resposta']).size()

PNEUMOPATI  resposta
1.0         0            37996
            1            20720
2.0         0           300968
            1           122583
9.0         0             8858
            1             4814
dtype: int64

In [49]:
df.groupby(by=['RENAL','resposta']).size()

RENAL  resposta
1.0    0            28078
       1            20546
2.0    0           307139
       1           122742
9.0    0             8648
       1             4590
dtype: int64

In [50]:
df.groupby(by=['NEUROLOGIC','resposta']).size()

NEUROLOGIC  resposta
1.0         0            34463
            1            22024
2.0         0           303926
            1           121881
9.0         0             8555
            1             4677
dtype: int64

In [51]:
medicos = df.groupby(by=['Médicos a cada 100 mil habitantes','resposta']).size()
medicos.to_csv("medicos.csv")

In [56]:
MEDIANA = df['Médicos a cada 100 mil habitantes'].median()
        
print('MEDIA =', df['Médicos a cada 100 mil habitantes'].mean())
print('MEDIANA =',MEDIANA)
print('MODA =',df['Médicos a cada 100 mil habitantes'].mode()[0])
print('DESVIO_PADRAO =',df['Médicos a cada 100 mil habitantes'].std())
print('')
        
Q1 = df['Médicos a cada 100 mil habitantes'].quantile(0.25)
Q2 = df['Médicos a cada 100 mil habitantes'].quantile(0.50)
Q3 = df['Médicos a cada 100 mil habitantes'].quantile(0.75)
Q4 = df['Médicos a cada 100 mil habitantes'].max()
        
print('Q1 =', Q1)
print('Q2 =', Q2)
print('Q3 =', Q3)
print('Q4 =', Q4)
print('')
        
LS = Q3+(1.5*(Q3-Q1))
LI = Q1-(1.5*(Q3-Q1))
#
print('Limite Superior =',LS)
print('Limite Inferior =',LI)
print('')
print('Correlacao =',df['Médicos a cada 100 mil habitantes'].corr(df['resposta']))
        
print('Quantidade de outliers', df[df['Médicos a cada 100 mil habitantes'] > LS]['Médicos a cada 100 mil habitantes'].count())
        
df.loc[df['Médicos a cada 100 mil habitantes'] > LS, 'Médicos a cada 100 mil habitantes'] = -1
df['Médicos a cada 100 mil habitantes'].replace(-1,LS,inplace=True)
        
print("Quantidade valores faltantes",df.isnull().sum()['Médicos a cada 100 mil habitantes'])

MEDIA = 309.39680980778866
MEDIANA = 322.353702317101
MODA = 352.60299462382596
DESVIO_PADRAO = 139.21200019412893

Q1 = 221.327967806841
Q2 = 322.353702317101
Q3 = 352.60299462382596
Q4 = 2770.70540661973

Limite Superior = 549.5155348493034
Limite Inferior = 24.41542758136356

Correlacao = -0.029379596801477354
Quantidade de outliers 78861
Quantidade valores faltantes 157502

In [57]:
medicos = df['Médicos a cada 100 mil habitantes']
medicos_descri = medicos.describe()

with open('medicos_descri.txt', 'w') as f:
    medicos_descri.to_string(f)

q1 = medicos_descri['25%']
mediana = medicos_descri['50%']
q2 = medicos_descri['75%']

s_q1 = "{0:.2f}".format(q1)
s_mediana = "{0:.2f}".format(mediana)
s_q2 = "{0:.2f}".format(q2)

font_1 = {'family': 'serif', 'color': 'darkred', 'size':'14'}

plt.figure(figsize=(6, 7))
plt.boxplot(idade)
plt.title('Boxplot Medicos a cada 100 K habitantes')
plt.ylabel('Medicos')
plt.text(1, q1, s_q1, fontdict=font_1)
plt.text(1, mediana, s_mediana, fontdict=font_1)
plt.text(1, q2, s_q2, fontdict=font_1)
plt.savefig('medicos-boxplot.png')
plt.close()

In [58]:
enfermeiros = df.groupby(by=['Enfermeiros a cada 100 mil habitantes','resposta']).size()
enfermeiros.to_csv("enfermeiros.csv")

In [59]:
MEDIANA = df['Enfermeiros a cada 100 mil habitantes'].median()
        
print('MEDIA =', df['Enfermeiros a cada 100 mil habitantes'].mean())
print('MEDIANA =',MEDIANA)
print('MODA =',df['Enfermeiros a cada 100 mil habitantes'].mode()[0])
print('DESVIO_PADRAO =',df['Enfermeiros a cada 100 mil habitantes'].std())
print('')
        
Q1 = df['Enfermeiros a cada 100 mil habitantes'].quantile(0.25)
Q2 = df['Enfermeiros a cada 100 mil habitantes'].quantile(0.50)
Q3 = df['Enfermeiros a cada 100 mil habitantes'].quantile(0.75)
Q4 = df['Enfermeiros a cada 100 mil habitantes'].max()
        
print('Q1 =', Q1)
print('Q2 =', Q2)
print('Q3 =', Q3)
print('Q4 =', Q4)
print('')
        
LS = Q3+(1.5*(Q3-Q1))
LI = Q1-(1.5*(Q3-Q1))
#
print('Limite Superior =',LS)
print('Limite Inferior =',LI)
print('')
print('Correlacao =',df['Enfermeiros a cada 100 mil habitantes'].corr(df['resposta']))
        
print('Quantidade de outliers', df[df['Enfermeiros a cada 100 mil habitantes'] > LS]['Enfermeiros a cada 100 mil habitantes'].count())
        
df.loc[df['Enfermeiros a cada 100 mil habitantes'] > LS, 'Enfermeiros a cada 100 mil habitantes'] = -1
df['Enfermeiros a cada 100 mil habitantes'].replace(-1,LS,inplace=True)
        
print("Quantidade valores faltantes",df.isnull().sum()['Enfermeiros a cada 100 mil habitantes'])

MEDIA = 173.74235123844124
MEDIANA = 182.978181133162
MODA = 192.22131724695498
DESVIO_PADRAO = 58.64529446815092

Q1 = 125.794670634383
Q2 = 182.978181133162
Q3 = 198.19133821603901
Q4 = 503.868078175895

Limite Superior = 306.78633958852305
Limite Inferior = 17.19966926189896

Correlacao = -0.021361545926277026
Quantidade de outliers 10178
Quantidade valores faltantes 157502

In [61]:
enf = df['Enfermeiros a cada 100 mil habitantes']
enf_descri = enf.describe()

with open('enf_descri.txt', 'w') as f:
    enf_descri.to_string(f)

q1 = enf_descri['25%']
mediana = enf_descri['50%']
q2 = enf_descri['75%']

s_q1 = "{0:.2f}".format(q1)
s_mediana = "{0:.2f}".format(mediana)
s_q2 = "{0:.2f}".format(q2)

font_1 = {'family': 'serif', 'color': 'darkred', 'size':'14'}

plt.figure(figsize=(6, 7))
plt.boxplot(idade)
plt.title('Boxplot Enfermeiros a cada 100 K habitantes')
plt.ylabel('ENfermeiros')
plt.text(1, q1, s_q1, fontdict=font_1)
plt.text(1, mediana, s_mediana, fontdict=font_1)
plt.text(1, q2, s_q2, fontdict=font_1)
plt.savefig('enfermeiros-boxplot.png')
plt.close()

In [62]:
respiradores = df.groupby(by=['Respiradores a cada 100 mil habitantes','resposta']).size()
respiradores.to_csv("respiradores.csv")

In [63]:
MEDIANA = df['Respiradores a cada 100 mil habitantes'].median()
        
print('MEDIA =', df['Respiradores a cada 100 mil habitantes'].mean())
print('MEDIANA =',MEDIANA)
print('MODA =',df['Respiradores a cada 100 mil habitantes'].mode()[0])
print('DESVIO_PADRAO =',df['Respiradores a cada 100 mil habitantes'].std())
print('')
        
Q1 = df['Respiradores a cada 100 mil habitantes'].quantile(0.25)
Q2 = df['Respiradores a cada 100 mil habitantes'].quantile(0.50)
Q3 = df['Respiradores a cada 100 mil habitantes'].quantile(0.75)
Q4 = df['Respiradores a cada 100 mil habitantes'].max()
        
print('Q1 =', Q1)
print('Q2 =', Q2)
print('Q3 =', Q3)
print('Q4 =', Q4)
print('')
        
LS = Q3+(1.5*(Q3-Q1))
LI = Q1-(1.5*(Q3-Q1))
#
print('Limite Superior =',LS)
print('Limite Inferior =',LI)
print('')
print('Correlacao =',df['Respiradores a cada 100 mil habitantes'].corr(df['resposta']))
        
print('Quantidade de outliers', df[df['Respiradores a cada 100 mil habitantes'] > LS]['Respiradores a cada 100 mil habitantes'].count())
        
df.loc[df['Respiradores a cada 100 mil habitantes'] > LS, 'Respiradores a cada 100 mil habitantes'] = -1
df['Respiradores a cada 100 mil habitantes'].replace(-1,LS,inplace=True)
        
print("Quantidade valores faltantes",df.isnull().sum()['Respiradores a cada 100 mil habitantes'])

MEDIA = 51.34953771755825
MEDIANA = 54.679193698873796
MODA = 58.5454336806256
DESVIO_PADRAO = 24.84082172663392

Q1 = 36.0094064266253
Q2 = 54.679193698873796
Q3 = 62.7473246159213
Q4 = 175.754912804351

Limite Superior = 102.8542018998653
Limite Inferior = -4.097470857318704

Correlacao = -0.015339420960492118
Quantidade de outliers 18052
Quantidade valores faltantes 157502

In [64]:
resp = df['Respiradores a cada 100 mil habitantes']
resp_descri = resp.describe()

with open('resp_descri.txt', 'w') as f:
    resp_descri.to_string(f)

q1 = resp_descri['25%']
mediana = resp_descri['50%']
q2 = resp_descri['75%']

s_q1 = "{0:.2f}".format(q1)
s_mediana = "{0:.2f}".format(mediana)
s_q2 = "{0:.2f}".format(q2)

font_1 = {'family': 'serif', 'color': 'darkred', 'size':'14'}

plt.figure(figsize=(6, 7))
plt.boxplot(idade)
plt.title('Boxplot Respiradores a cada 100 K habitantes')
plt.ylabel('Respiradores')
plt.text(1, q1, s_q1, fontdict=font_1)
plt.text(1, mediana, s_mediana, fontdict=font_1)
plt.text(1, q2, s_q2, fontdict=font_1)
plt.savefig('respiradores-boxplot.png')
plt.close()

In [65]:
leitos = df.groupby(by=['Leitos de UTI a cada 100 mil habitantes','resposta']).size()
leitos.to_csv("leitos.csv")

In [66]:
MEDIANA = df['Leitos de UTI a cada 100 mil habitantes'].median()
        
print('MEDIA =', df['Leitos de UTI a cada 100 mil habitantes'].mean())
print('MEDIANA =',MEDIANA)
print('MODA =',df['Leitos de UTI a cada 100 mil habitantes'].mode()[0])
print('DESVIO_PADRAO =',df['Leitos de UTI a cada 100 mil habitantes'].std())
print('')
        
Q1 = df['Leitos de UTI a cada 100 mil habitantes'].quantile(0.25)
Q2 = df['Leitos de UTI a cada 100 mil habitantes'].quantile(0.50)
Q3 = df['Leitos de UTI a cada 100 mil habitantes'].quantile(0.75)
Q4 = df['Leitos de UTI a cada 100 mil habitantes'].max()
        
print('Q1 =', Q1)
print('Q2 =', Q2)
print('Q3 =', Q3)
print('Q4 =', Q4)
print('')
        
LS = Q3+(1.5*(Q3-Q1))
LI = Q1-(1.5*(Q3-Q1))
#
print('Limite Superior =',LS)
print('Limite Inferior =',LI)
print('')
print('Correlacao =',df['Leitos de UTI a cada 100 mil habitantes'].corr(df['resposta']))
        
print('Quantidade de outliers', df[df['Leitos de UTI a cada 100 mil habitantes'] > LS]['Leitos de UTI a cada 100 mil habitantes'].count())
        
df.loc[df['Leitos de UTI a cada 100 mil habitantes'] > LS, 'Leitos de UTI a cada 100 mil habitantes'] = -1
df['Leitos de UTI a cada 100 mil habitantes'].replace(-1,LS,inplace=True)
        
print("Quantidade valores faltantes",df.isnull().sum()['Leitos de UTI a cada 100 mil habitantes'])

MEDIA = 28.633024816529346
MEDIANA = 28.5993586528526
MODA = 28.5993586528526
DESVIO_PADRAO = 20.929047766253667

Q1 = 17.9478944285957
Q2 = 28.5993586528526
Q3 = 36.6051699810984
Q4 = 228.026848078059

Limite Superior = 64.59108330985245
Limite Inferior = -10.038018900158352

Correlacao = -0.006090743389868601
Quantidade de outliers 9759
Quantidade valores faltantes 157502

In [67]:
leitos = df['Leitos de UTI a cada 100 mil habitantes']
leitos_descri = leitos.describe()

with open('leitos_descri.txt', 'w') as f:
    leitos_descri.to_string(f)

q1 = leitos_descri['25%']
mediana = leitos_descri['50%']
q2 = leitos_descri['75%']

s_q1 = "{0:.2f}".format(q1)
s_mediana = "{0:.2f}".format(mediana)
s_q2 = "{0:.2f}".format(q2)

font_1 = {'family': 'serif', 'color': 'darkred', 'size':'14'}

plt.figure(figsize=(6, 7))
plt.boxplot(idade)
plt.title('Boxplot Leitos a cada 100 K habitantes')
plt.ylabel('Leitos')
plt.text(1, q1, s_q1, fontdict=font_1)
plt.text(1, mediana, s_mediana, fontdict=font_1)
plt.text(1, q2, s_q2, fontdict=font_1)
plt.savefig('leitos-boxplot.png')
plt.close()

In [68]:
df.to_csv("df_final.csv", index=False)